/* header  */
.myb{
    text-align: center;
    font: 1000;
    background-color: black;
    color: yellow;
    border: 100px;
    padding: 100px;
}

/* Video page */
.videos-header{
    color: black;
    text-align: center;
    font-size: 50pt;
    border: 100px;
    padding: auto;
    margin: auto;
}